/**
 * Additional styles applied only to the WordPress editor
 *
 * It is sometimes necessary to add additional styles for the WordPress block
 * editor, generally to improve the editor experience. For example, you may
 * want to tweak the appearance of the title area to better match your site’s
 * front end, or you may need to change the appearance of a block to better
 * distinguish between its fields while editing.
 *
 * Those styles should be added in this file, and they will be added only to
 * the block editor.
 */

/**
 * This allows you to use classes from both the default Tailwind theme and
 * your custom theme.
 */
@reference "./tailwind-theme.css";

.entry-header,
.entry-content {
	@apply px-8;
}
.wp-block-loadlifter-icon-with-text {
	display: flex;
	flex-direction: row;
	place-items: start;
	align-items: center;
	gap: --spacing(4);

	&.has-background {
		padding: --spacing(4);
		margin-block-start: 0;

		&:first-of-type {
			border-radius: --spacing(2) --spacing(2) 0 0;
		}
		&:last-of-type {
			border-radius: 0 0 --spacing(2) --spacing(2);
		}
	}
}

.wp-block-loadlifter-icon-with-text .item-icon {
	display: flex;
	justify-content: start;
	gap: 0;
	order: 0;
}
.wp-block-loadlifter-icon-with-text .acf-innerblocks-container {
	order: 1;
}
