/* Details */

/* this is a fix post WP 6.6 that introduced a weird gap above almost everything. */
.is-layout-flow > details,
.is-layout-flow > .details-inner {
	margin-block-start: 0;
}

summary {
	list-style: none;
	cursor: pointer;
	position: relative;
	z-index: 10;
}

summary > * {
	display: inline;
}

summary::marker,
summary::-webkit-details-marker {
	display: none;
}
details[open] summary::marker,
details[open] summary::-webkit-details-marker {
	display: none;
}

.accordions {
	margin-bottom: --spacing(8);
}

.accordions	details {
	margin-bottom: 2px;
}

.accordions details[open] summary::before {
	content: '-';
}

.accordions summary {
	font-family: var(--font-head);
	padding-block: --spacing(2);
	padding-inline: --spacing(2);
	font-size: var(--wp--preset--font-size--2-xl);
	line-height: 1.3;

	@media (width >= 1024px) {
		padding-inline: --spacing(4);
	}
}
.accordions summary::before {
	content: '+';
	font-family: var(--font-mono);
	margin-right: 0.25rem;
}

.accordions .details-inner {
	background-color: light-dark(var(--color-neutral-50), var(--color-neutral-800));
	color: light-dark(inherit, var(--color-neutral-300));
	padding-block: --spacing(3);
	padding-inline: --spacing(2);
	position: relative;
	z-index: 5;
	transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
	height: 0;
	overflow: clip;

	@media (width >= 1024px) {
		padding-block: --spacing(5);
		padding-inline: --spacing(4);
	}
}
.accordions details[open] .details-inner {
	height: auto;
}
.accordions .details-inner > ul {
	margin-block: 0 !important;
}

.accordions.is-style-default details[open] summary {
	color: var(--color-neutral-900);
}
.accordions.is-style-default summary {
	background-color: var(--color-neutral-200);
	color: var(--color-neutral-700);
}
.accordions.is-style-default summary::before {
	color: var(--color-neutral-400);
}

.accordions.is-style-blue details[open] summary {
	color: var(--color-near-white);
}
.accordions.is-style-blue summary {
	background-color: var(--wp--preset--color--brand-blue);
	color: var(--color-orient-200);
}
.accordions.is-style-blue summary::before {
	color: var(--color-orient-400);
}

.accordions.is-style-red details[open] summary {
	color: var(--color-near-white);
}
.accordions.is-style-red summary {
	background-color: var(--wp--preset--color--brand-red);
	color: var(--wp--preset--color--brand-red-faint);
}
.accordions.is-style-red summary::before {
	color: var(--wp--preset--color--brand-red-pale);
}


@media (prefers-reduced-motion: no-preference) {
	.accordions summary:hover::before {
		animation: var(--animate-pulse) /* pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite */;
	}
}
