/* Details */

summary {
	list-style: none;
	cursor: pointer;

	> * {
		display: inline;
	}
}

summary::marker,
summary::-webkit-details-marker {
	display: none;
}
details[open] summary::marker,
details[open] summary::-webkit-details-marker {
	display: none;
}


.accordions {
  @apply mb-8;

  details {
    @apply mb-[2px];
  }

  details[open] summary {
    @apply before:content-['-'];
  }

  summary {
    @apply font-head text-3xl px-4 pt-1 pb-2 before:content-['+']  before:font-mono before:mr-1;
  }

  .details-inner {
    @apply bg-neutral-100 px-2 pb-4 lg:pt-4 lg:px-4 lg:pb-6 dark:bg-neutral-800 dark:text-neutral-300;
  }
}


.accordions.is-style-default {
  details[open] summary {
    @apply text-neutral-900;
  }

  summary {
    @apply bg-neutral-200 text-neutral-700;

    &::before {
      color: #a3a3a3;
    }
  }
}


.accordions.is-style-blue {
  details[] summary {
    @apply text-white;
  }

  summary {
    @apply bg-brand-blue text-brand-blue-faint;

    &::before {
      @apply text-brand-blue-pale;
    }
  }
}


.accordions.is-style-red {
  details[] summary {
    @apply text-white;
  }

  summary {
    @apply bg-brand-red text-brand-red-faint;

    &::before {
      @apply text-brand-red-pale;
    }
  }
}


details[open] summary ~ * {
	animation: sweep 0.4s ease-in-out;
}
@keyframes sweep {
	0% {
		opacity: 0;
		margin-top: -10px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}
