/* Block: Ad */
.llad:not([class*="is-style-"]) {
	/* Default = Clear */
	background-color: transparent;
}
.llad.is-style-brand-red {
	background-color: var(--color-mahogany-700);
}
.llad.is-style-brand-blue {
	background-color: var(--color-orient-800);
}
.llad.is-style-brand-gray {
	background-color: var(--color-neutral-600);
}
