/* Cards that flip */
.ind-card-flips {
	--_card-size: 288px;
	--_card-front-bg: theme(colors.neutral.100);
	--_card-front-icon: theme(colors.neutral.800);
	--_card-back-bg: theme(colors.neutral.800);
	--_card-front-text: theme(colors.neutral.200);
	--_card-back-text: theme(colors.neutral.100);
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	gap: 1rem;


	.card:hover .card-content,
	.card:active .card-content,
	.card:focus .card-content {
		transform: rotateY(180deg);
	}

	.card-back p,
	.card-back li {
		font-size: 0.875rem;
  	line-height: 1.25rem;
	}
}

.ind-card-flips.is-style-default {
	--_card-front-bg: theme(colors.neutral.100);
	--_card-front-text: theme(colors.neutral.800);
	--_card-front-icon: theme(colors.brand-blue);
	--_card-back-bg: theme(colors.neutral.700);
}

.ind-card-flips.is-style-blue {
	--_card-front-bg: theme(colors.brand-blue);
	--_card-front-text: theme(colors.neutral.100);
	--_card-front-icon: theme(colors.brand-blue-dark);
	--_card-back-bg: theme(colors.brand-blue-dark);
}

.ind-card-flips.is-style-red {
	--_card-front-bg: theme(colors.brand-red-dark);
	--_card-front-text: theme(colors.neutral.100);
	--_card-front-icon: theme(colors.brand-red);
	--_card-back-bg: theme(colors.red.950);
}

@media (prefers-color-scheme: dark) {
	.ind-card-flips.is-style-default {
		--_card-front-bg: theme(colors.neutral.800);
		--_card-front-text: theme(colors.neutral.100);
		--_card-front-icon: theme(colors.brand-blue-pale);
		--_card-back-bg: theme(colors.neutral.700);
	}

	.ind-card-flips.is-style-blue {
		--_card-front-bg: theme(colors.brand-blue-dark);
		--_card-front-text: theme(colors.neutral.300);
		--_card-front-icon: theme(colors.brand-blue-pale);
		--_card-back-bg: theme(colors.neutral.700);
	}

	.ind-card-flips.is-style-red {
		--_card-front-bg: theme(colors.red.950);
		--_card-front-text: theme(colors.neutral.300);
		--_card-front-icon: theme(colors.brand-red-pale);
		--_card-back-bg: theme(colors.neutral.700);
	}
}

@media screen and (min-width: 1024px) {
	.ind-card-flips {
		gap: 2rem;
	}
}
