/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with an `entry-title` class on the
 * frontend and to the post heading in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	margin-bottom: 1.5rem;
	overflow-wrap: break-word;
	font-size: 2.25rem/* 36px */;
  line-height: 2.5rem;
	color: theme(colors.neutral.900);
}

/**
 * Post content styles (via Tailwind Typography)
 *
 * These will be applied to all content blocks with an `entry-content` class on
 * the frontend and within the block editor.
 *
 * The `$post-content-selector` variable is replaced by PostCSS. Please see the
 * `postcss.config.js` file for details.
 *
 * For details on how to customize Tailwind Typography via its modifier
 * classes, please see:
 *
 * https://tailwindcss.com/docs/typography-plugin
 */
/* $post-content-selector {
	@apply prose prose-neutral max-w-none prose-headings:font-normal prose-th:border-purple-500 prose-td:border-purple-500 prose-th:px-0 prose-th:text-center prose-th:text-sm prose-th:font-bold prose-th:uppercase prose-th:tracking-wide md:prose-lg lg:prose-xl;
} */

/* #page {
	position: relative;
} */
/* #page::before {
	content: '';
	background-attachment: fixed;
	background-image: url('img/phx-desert-color-no-crop-small.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -10;
} */

.entry-content > .alignwide {
	max-width: 80rem;
}

.entry-content > .alignfull {
	max-width: none;
}



.wp-block-cover__inner-container {
	@apply container;
}

/*   P A G E   H E R O   */
.page-hero-overlay {
	background-color: hsl(0 0% 16% / 0.7);
	background-image: none;
}

@media (min-width: 1024px) {
	.page-hero-overlay {
		background-color: unset;
		/* background-image: linear-gradient(to right, rgb(255 255 255 / 0.95) 0%, rgb(255 255 255 / 0.8) 40%, rgb(255 255 255 / 0.2) 60%, rgb(255 255 255 / 0) 100%); */
		background-image: linear-gradient(to right, hsl(0 0% 16% / 0.95) 0%, hsl(0 0% 16% / 0.8) 40%, hsl(0 0% 16% / 0.6) 50%, hsl(0 0% 16% / 0.2) 80%, hsl(0 0% 16% / 0) 100% );
	}
}


@media print {
	.wp-block-cover,
	.wp-block-cover-image {
		min-height: unset !important;
	}

	.wp-block-cover__inner-container {
		max-width: unset !important;
	}
}


/* Front Page Industry Knowledge section */
.section__indgrid--front {
	/* might not use, but keeping for future ref. */
	background-color: #FFFFFF;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23E5E5E5' stroke-width='19.1' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}


/* @media screen {
	.single-post .entry-content > p:first-of-type:not([class*="is-style-note-"]) {
		border-bottom-width: 1px;
		border-color: theme(colors.neutral.200);
		padding-bottom: 1rem;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
} */


.entry-content .aligncenter {
	margin-inline: auto;
}
.entry-content .alignleft {
	float: left;
	margin-bottom: 1rem;
	margin-right: 1rem;
}
.entry-content .alignright {
	float: right;
	margin-bottom: 1rem;
	margin-left: 1rem;
}


@supports (mask-repeat: no-repeat) or (-webkit-mask-repeat: no-repeat) {
	.mask-logo {
		mask-image: url("/wp-content/themes/loadlifter/theme/img/mask__bio.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: 320px;
	}
}

.bg-brandmarkmono {
	--mark-mono-size: 320px;
	background-image: url("/wp-content/themes/loadlifter/theme/img/brandmarkmono.svg");
	background-position: -140px 32px;
	background-size: var(--mark-mono-size);
	background-repeat: no-repeat;
	min-height: calc(var(--mark-mono-size) + 2em);
}

.single-post .empty-feat-img {
	display: none;
}

.head-last-bold strong:last-child {
	font-weight: bold;
}

aside .timestamp {
	margin-block: 1rem;
	display: block;
	width: 100%;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-color: theme(colors.neutral.200);
	padding-block: 1rem;
}
.date-updated::before {
	content: "(Updated: ";
}
.date-updated::after {
	content: ")";
}

.list--tags {
	line-height: 1.625;
}
.list--tags a {
	white-space: nowrap;
	background-color: theme(colors.neutral.100);
	border-radius: 8px 0 8px;
	padding-inline: 0.5rem;
	padding-block: 0.25rem;
	font-size: 14px;
	color: theme(colors.neutral.600);
}
.list--tags a:hover {
	background-color: theme(colors.orient.400);
	color: theme(colors.brand-blue-dark);
}
@media (prefers-color-scheme: dark) {
	.list--tags a {
		background-color: theme(colors.neutral.800);
		color: theme(colors.neutral.100);
	}
	.list--tags a:hover {
		background-color: theme(colors.brand-blue-dark);
		color: theme(colors.brand-blue-pale);
	}
}



.logogrid {
	margin-inline: auto;
	margin-block: 4rem;
	display: grid;
	max-width: max-content;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	place-content: center;
	column-gap: 8rem;
	row-gap: 2rem;
}
.logogrid > div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logogrid > div img {
	max-height: 55px;
}

.has-upperright-corner-gradient-amber-300 {
	background-image: linear-gradient(225deg, theme(colors.amber.300) 0%, theme(colors.amber.300) 36px, transparent 36px);
}

.social-links a {
	background-color: theme(colors.brand-blue);
	color: inherit;
}
.social-links a:hover {
	background-color: transparent;
	color: theme(colors.brand-blue);
}

.footer-social .social-links a {
	background-color: theme(colors.neutral.700);
	color: theme(colors.neutral.300);
}
.footer-social .social-links a:hover {
	background-color: transparent;
	color: theme(colors.brand-blue-pale);
}
.on-darkbg .social-links a {
	background-color: transparent;
	color: theme(colors.neutral.300);
}
.on-darkbg .social-links a:hover {
	color: theme(colors.brand-blue-pale);
	background-color: theme(colors.neutral.700);
}

/* Quotes */
.wp-block-quote p {
	margin-block: 1rem;
	font-size: 1.25rem;
  line-height: 1.75rem;
}
.wp-block-quote cite {
	font-family: theme(fontFamily.head);
	font-size: 1rem;
  line-height: 1.5rem;
	font-style: normal;
}
.wp-block-quote cite::before {
  content: '—';
}

.wp-block-quote.is-style-default {
	color: theme(colors.brand-blue-dark);
	border-color: theme(colors.brand-blue);
	position: relative;
	border-radius: 0.5rem;
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	padding: 1rem;
}

.image__featured--outer {
	background-image: linear-gradient(0deg, hsla(0, 0%, 64%, 0) 40%, hsla(0, 0%, 64%, 1) 95%);
}

.breadcrumbs {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	font-size: 1rem;
  line-height: 1.5rem;
}

.breadcrumbs > span:last-child span {
	font-weight: 600;
	/* via: https://mtekk.us/archives/guides/trimming-breadcrumb-title-lengths-with-css/ */
}

.catlist a { font-weight: 700; }

.headshot-wrapper img {	z-index: 2; }

/* Pagination */
ul.page-numbers {
	max-width: 60rem;
	font-family: theme(fontFamily.head);
	color: theme(colors.orient.900);
	margin-inline: auto;
	margin-block: 1rem;
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

}
a.page-numbers {
	color: theme(colors.orient.900);
}
a.page-numbers:hover {
	color: theme(colors.brand-blue-dark);
}
span.current {
	opacity: 0.5;
}

/* Paragraphs / Callouts / Notes */
p[class*="is-style-note-"] {
	margin-bottom: 1rem;
	width: 100%;
	border-radius: 0.5rem;
	border-width: 1px;
	border-style: solid;
	padding-inline: 2rem;
	padding-block: 1rem;
	line-height: 1.375;
	border-color: var(--_border);
	background-color: var(--_bg);
	color: var(--_text);
}
.is-style-note-info {
	--_border: theme(colors.cyan.100);
	--_bg: theme(colors.cyan.50);
	--_text: theme(colors.cyan.800);
}
.is-style-note-info strong {
	color: theme(colors.cyan.700);
}

.is-style-note-success {
	--_border: theme(colors.emerald.100);
	--_bg: theme(colors.emerald.50);
	--_text: theme(colors.emerald.800);
}
.is-style-note-success strong {
	color: theme(colors.emerald.700);
}

.is-style-note-warning {
	--_border: theme(colors.amber.100);
	--_bg: theme(colors.amber.50);
	--_text: theme(colors.amber.800);
}
.is-style-note-warning strong {
	color: theme(colors.amber.700);
}
.is-style-note-error {
	--_border: theme(colors.red.100);
	--_bg: theme(colors.red.50);
	--_text: theme(colors.red.800);
}
.is-style-note-error strong {
	color: theme(colors.red.700);
}

/* Openings */
.container-openings-list {
	margin-top: 2rem;
	border-width: 2px;
	border-style: solid;
	border-color: theme(colors.neutral.500);
	background-color: white;
	padding: 2rem;
}


/* Section: CTA */
.cta {
	align-items: center;
	background-position: 50%;
	display: flex;
	justify-content: center;
	min-height: 180px;
	overflow: clip;
	padding: 0;
	position: relative;
}


.card-headshot {
	--s: 200px; /* size of the image */
	--b: 4px; /* border thickness */
	--g: 8px; /* gap */
	--c: #00668e; /* color */

	width: var(--s);
	aspect-ratio: 1;
	transition: filter 0.3s ease-in-out;
}

.post-card.type-people .image__featured--inner {
	background-position: center -5rem;
}


@media (prefers-color-scheme: dark) {
	.wp-block-quote.is-style-default {
		color: theme(colors.brand-blue-pale);
	}

	.is-style-note-info {
		--_border: theme(colors.cyan.400);
		--_bg: theme(colors.cyan.800);
		--_text: theme(colors.cyan.100);
	}
	.is-style-note-success {
		--_border: theme(colors.emerald.400);
		--_bg: theme(colors.emerald.800);
		--_text: theme(colors.emerald.100);
	}
	.is-style-note-warning {
		--_border: theme(colors.amber.400);
		--_bg: theme(colors.amber.800);
		--_text: theme(colors.amber.100);
	}
	.is-style-note-error {
		--_border: theme(colors.red.400);
		--_bg: theme(colors.red.800);
		--_text: theme(colors.red.100);
	}
	.is-style-note-info strong,
	.is-style-note-success strong,
	.is-style-note-warning strong,
	.is-style-note-error strong {
		color: white;
	}

	.container-openings-list {
		background-color: theme(colors.neutral.900);
	}
}

@media screen and (min-width: 640px) {
	.logogrid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media screen and (min-width: 768px) {
	.page-title,
	.entry-title {
		margin-bottom: 2rem
	}

	/* #page::before {
		background-image: url('img/phx-desert-color-no-crop.jpg');
	} */

	.ll-page-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-template-areas:
			"aaa aaa ccc"
			"bbb bbb bbb";
	}

	.ll-page-grid-area-a {
		grid-area: aaa; /* Main content */
	}

	.ll-page-grid-area-b {
		grid-area: bbb; /* Secondary content */
	}

	.ll-page-grid-area-c {
		grid-area: ccc; /* FORM */
	}

	.peepgrid {
		grid-template-rows: 500px auto;
	}

	.logogrid {
		column-gap: 4rem;
	}

	ul.page-numbers {
		margin-block: 2rem;
	}

	p[class*="is-style-note-"] {
		max-width: 36rem;
	}
}

@media screen and (min-width: 1024px) {
	.page-title,
	.entry-title {
		font-size: 3rem;
    line-height: 1;
	}

	#page::before {
		background-position: center top 5rem;
	}

	.entry-content .alignleft {
		margin-bottom: 2rem;
		margin-right: 2rem;
	}

	.entry-content .alignright {
		margin-bottom: 2rem;
		margin-left: 2rem;
	}

	/* .single-post .entry-content > p:first-of-type:not([class*="is-style-note-"]) {
		font-size: 1.5rem;
    line-height: 2rem;
	} */

	.logogrid {
		column-gap: 8rem;
	}

	.home .awards-wrap img:not(:hover) {
		filter: grayscale(100%);
	}

	.wp-block-quote p {
		font-size: 1.5rem;
    line-height: 2rem;
	}

	.wp-block-quote cite {
		font-size: 1.125rem;
    line-height: 1.75rem;
	}

	.wp-block-quote.is-style-default {
		padding-inline: 2rem;
	}

	ul.page-numbers {
		margin-block: 4rem;
	}

	p[class*="is-style-note-"] {
		max-width: 42rem;
	}
}

@media (min-width: 1280px) {
	p[class*="is-style-note-"] {
		max-width: 56rem;
	}
}
