 /* Footnotes
 * Converted from Easy Footnotes plugin to work w/ WP 6.3 native Footnote block.
 */

ol.wp-block-footnotes {
	/* max-width: 65ch; */
	font-size: 0.875rem;
  line-height: 1.25;
	list-style-type: decimal;
	margin-left: --spacing(12);

	@media screen and (width >= 1024px) {
		font-size: 1rem;
    line-height: 1.5;
	}
}

sup.fn a {
	color: var(--color-mahogany-700);
	font-weight: 600;
	text-decoration-line: none;

	&:hover {
		color: currentColor;
	}
}
