/* Variables for the New HubSpot Form Builder */
/* via: https://developers.hubspot.com/docs/cms/start-building/features/forms/forms */
:root {
  /* --hsf-global__font-family: 'impact'; */
  --hsf-global__font-size: 18px;
  --hsf-global__color: #222;
  --hsf-background__background-color: #ededed;
}



/* Styles for Forms and HubSpot Form Embeds */
.container-contact-form {
	margin-bottom: --spacing(2);
	padding: --spacing(4);
	min-height: 590px;
	border-width: 1px;
	border-color: light-dark(var(--color-neutral-400), var(--color-neutral-700));
	background-color: light-dark(transparent, var(--color-neutral-800));
	color: light-dark(inherit, var(--color-neutral-200));
	background-image: linear-gradient(to bottom, var(--color-neutral-100) 0, rgb(255 255 255 / 1) 30%);

	@media screen and (prefers-reduced-motion: reduce) {
		opacity: 1;
		animation: none !important;
	}

	@media (prefers-color-scheme: dark) {
		background-image: none;
	}
	@media screen and (width >= 1024px) {
		margin-bottom: 0;
		padding: --spacing(8);

		opacity: 0;
		animation: fade-in-from-bottom var(--animate-duration);
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: calc(4 * var(--animate-delay-multiple));
	}
	@media print {
		display: none;
	}
}

.container-contact-form:has(+ :is(section, div)) {
	margin-bottom: --spacing(8);

	@media screen and (width >= 1024px) {
		margin-bottom: --spacing(16);
	}
}

form {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	gap: --spacing(2);

	@media screen and (width >= 768px) {
		gap: --spacing(4);
	}
	@media print {
		display: none;
	}
}


.form-columns-2 {

	@media screen and (width >= 768px) {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: --spacing(2);
	}
	@media screen and (width >= 1024px) {
		gap: --spacing(8);
	}
}


[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], input:where(:not([type])), select, textarea {
	appearance: none;
	border-radius: 0;
	padding: --spacing(2) --spacing(3);
	font-size: 1rem;
	line-height: 1.5;
	--tw-shadow: 0 0 #0000;
}



input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
select,
textarea {
	width: 100%;
	background-color: light-dark(var(--color-near-white), var(--color-neutral-700));
	color: light-dark(inherit, var(--color-neutral-200));
	border-color: light-dark(var(--color-neutral-400), var(--color-neutral-700));
	border-width: 1px;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):focus,
select:focus,
textarea:focus {
	background-color: light-dark(var(--color-near-white), var(--color-neutral-950));
	border-color: rgb(0 102 142 / 0.8);
}

select {
	padding-block: --spacing(1);
}

input[tupe="checkbox"],
input[type="radio"] {
	background-color: light-dark(initial, var(--color-neutral-700));
	color: var(--color-orient-800);
	margin-top: -0.125rem;
	margin-right: --spacing(1);
	pointer-events: none;
	flex-shrink: 0;
	border-radius: --spacing(1);
	border-width: 2px;
	border-color: light-dark(var(--color-neutral-200), var(--color-neutral-600));

	@media screen and (width >= 768px) {
		margin-right: --spacing(2);
	}
}

input[type="checkbox"] {
	border-radius: --spacing(1);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
	border-color: var(--color-orient-800) ;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
	--tw-ring-color: rgb(103 232 249 / 0.8);
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	outline: 2px solid transparent;
  outline-offset: 2px;
}



input[type="submit"] {
	--tw-shadow-color: var(--color-neutral-800);
  --tw-shadow: var(--tw-shadow-colored);
	font-family: var(--font-head);
	font-weight: 600;
	background-color: var(--color-mahogany-800);
	color: var(--color-near-white);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: --spacing(2);
	line-height: 1;
	padding-inline: --spacing(6);
	padding-block: --spacing(3);

	@media screen and (width >= 640px) {
		width: auto;
	}
	@media screen and (width >= 1024px) {
		font-size: 1.125rem;
    /* line-height: 1.75; */
	}
}
input[type="submit"]:hover {
	--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
	background-color: var(--color-mahogany-700);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
input[type="submit"]:focus {
	--tw-ring-color: rgb(103 232 249 / 0.8);
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	outline: 2px solid transparent;
  outline-offset: 2px;
}
input[type="submit"]:active {
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	background-color: var(--color-mahogany-700);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hbspt-form {

	.hs-field-desc {
		font-style: italic;
		font-size: var(--text-sm);
	}

	span.hs-form-required {
		font-weight: 700;
		color: light-dark(var(--color-orange-800), var(--color-orange-300));
	}

	.hs-error-msg {
		font-size: 1rem;
		line-height: 1.5;
		font-weight: 700;
		font-style: italic;
		color: light-dark(var(--color-red-700), var(--color-red-300));
	}

	.invalid,
	:user-invalid {
		border-width: 2px;
		border-color: light-dark(var(--color-red-700), var(--color-red-300)) !important;
	}

}

.hs-dependent-field > * + * {
	margin-block-start: --spacing(4);
}

#service_category10-c8675641-3e68-4ff7-9dc3-ae3636fbf1c8 + span,
#service_category9-ec2d5c9d-3b25-425a-b171-c4dbcee2563e + span,
#service_category9-0b8c65d8-af2a-43e6-b68f-d496c8280633 + span {
	/* ffs, the long choice - "401(k), Pension, & Profit Sharing Plan Administration" */
	letter-spacing: -0.4px;
}


.multi-container label,
.hs-form-booleancheckbox label {
	font-size: var(--text-sm);
	display: flex;
	gap: --spacing(1);

	@media screen and (width >= 768px) {
		gap: --spacing(2);
	}

	input {
		flex-shrink: 1;
	}
	& > span {
		flex-grow: 1;
		line-height: 1.2;
	}
}


.legal-consent-container {

	& > *:not(:first-child) {
		margin-top: --spacing(2);
	}

	& > .hs-richtext:first-of-type {
		display: none;
	}
	& .hs-richtext {
		font-size: var(--text-sm);

		p:empty {
			display: none;
		}
	}

	& .hs-form-booleancheckbox-display input.hs-input {
		float: none;
	}
	& .hs-form-booleancheckbox-display > span {
		display: inline !important;
		margin-left: unset !important;
	}
}

/* date fields might be a problem */
