/* Custom LL Image with Text styles */
.image-with-text-item {
	--_llmtmediawidth: 38cqi;
	display: grid;
	grid-template-rows: auto auto;
	gap: 0;
}
.image-with-text-item:has(+ .image-with-text-item) {
	margin-block-end: --spacing(8);
}

.image-with-text-item.has-background {
	border-radius: --spacing(2);
}


.image-with-text-item .item-img {
	grid-row: 1 / 2;

	> div {
		width: 100%;
		height: 100%;
		min-height: 180px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: --spacing(2) --spacing(2) 0 0;
		/* filter: grayscale(80%) contrast(1); */
		/* mix-blend-mode: multiply; */
		position: relative;

		&::after,
		&::before {
			content: '';
			display: block;
			border-radius: --spacing(2) --spacing(2) 0 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
		}
		&::after {
			background-color: var(--color-orient-200);
			mix-blend-mode: darken;
		}
		&::before {
			background-color: var(--color-orient-900);
			mix-blend-mode: lighten;
		}
	}
}
.image-with-text-item .acf-innerblocks-container {
	padding-inline: --spacing(4);
	padding-block: --spacing(6);
	grid-row: 2 / -1;

	h3 {
		margin-block-end: --spacing(2);
	}
}

/* Possible WP color palette overrides for media text block */
.image-with-text-item.has-brand-gray-faint-background-color .wp-block-group,
.image-with-text-item.has-brand-gray-pale-background-color .wp-block-group,
.image-with-text-item.has-brand-blue-faint-background-color .wp-block-group,
.image-with-text-item.has-brand-blue-pale-background-color .wp-block-group {
	color: inherit;
}
.image-with-text-item.has-brand-gray-background-color .wp-block-group,
.image-with-text-item.has-brand-gray-dark-background-color .wp-block-group,
.image-with-text-item.has-brand-blue-background-color .wp-block-group,
.image-with-text-item.has-brand-blue-dark-background-color .wp-block-group {
	color: white;
}



@container content-area (width >= 32rem) {
	/* 512px */
	.image-with-text-item {
		grid-template-columns: var(--_llmtmediawidth, 1fr) auto;
		grid-template-rows: auto;
		gap: 0;
	}
	.image-with-text-item.has-background {
		border-radius: --spacing(4);
	}
	.image-with-text-item .acf-innerblocks-container {
		grid-column: 2 / -1;
		grid-row: 1 / -1;
		/* border-radius: 0 --spacing(4) --spacing(4) 0; */
		place-content: center;
	}
	.image-with-text-item .item-img {
		grid-column: 1 / 2;
		grid-row: 1 / -1;

		> div {
			border-radius: --spacing(4) 0 0 --spacing(4);
		}
		> div::before,
		> div::after {
			border-radius: --spacing(4) 0 0 --spacing(4);
		}
	}

	.image-with-text-item:nth-child(even) {
		grid-template-columns: auto var(--_llmtmediawidth, 1fr);
	}
	.image-with-text-item:nth-child(even) .acf-innerblocks-container {
		grid-column: 1 / 2;
		/* border-radius: --spacing(4) 0 0 --spacing(4); */
	}
	.image-with-text-item:nth-child(even) .item-img {
		grid-column: 2 / -1;

		> div {
			border-radius: 0 --spacing(4) --spacing(4) 0;
		}
		> div::before,
		> div::after {
			border-radius: 0 --spacing(4) --spacing(4) 0;
		}
	}
}


@container content-area (width >= 56rem) {
	/* 896px */
	.image-with-text-item {
		--_llmtmediawidth: 33cqi;
	}
	.image-with-text-item .acf-innerblocks-container {
		padding: --spacing(8);
	}

	.image-with-text-item:has(+ .image-with-text-item) {
		margin-block-end: --spacing(12);
	}
}
