/* Lists */

ol.is-style-default {
	list-style: decimal;
	/* list-style-position: inside; */
}
ul.is-style-default {
	list-style: disc;
	/* list-style-position: inside; */
}

.list-square {
	list-style-type: square;
}

.list-checked li::before {
	content: "\f058";
}

.is-style-list-none,
.prose .is-style-list-none {
	list-style-type: none;
	padding-left: 0;

	li {
		padding-left: 0;
	}
}

.is-style-list-square,
.prose .is-style-list-square {
	list-style-type: square;
}

.is-style-list-columns-2 {
	columns: 1;
}
.is-style-list-columns-2 li {
	break-inside: avoid-column;
}
.is-style-list-columns-2 li:first-of-type {
	margin-top: 0;
}

/* inspiration: https://codepen.io/joshwcomeau/pen/VwxwYbG */
[class*="is-style-list-divide-"],
.prose [class*="is-style-list-divide-"] {
	list-style-type: none;
	padding: 0;

	li {
		padding-left: 0;

		&:not(:last-of-type) {
			border-bottom-width: 2px;
			border-style: dotted;
		}
	}
}

.is-style-list-divide-light li:not(:last-of-type) {
	border-color: theme(colors.neutral.400);
}
.is-style-list-divide-gray li:not(:last-of-type) {
	border-color: theme(colors.brand-gray);
}
.is-style-list-divide-red li:not(:last-of-type) {
	border-color: theme(colors.brand-red-pale);
}
.is-style-list-divide-blue li:not(:last-of-type) {
	border-color: theme(colors.brand-blue);
}

.is-style-list-checked {
	list-style-type: none;
}
.is-style-list-checked li {
	list-style-type: none !important;
	padding-left: 10px;
	position: relative;
}
.is-style-list-checked li::before {
	/* background-color: currentColor; */
	/* background-size: cover; */
	content: "";
	display: inline-block;
	height: 20px;
	left: -20px;
}

.is-style-circle,
.is-style-circle-red,
.is-style-circle-blue {
	margin-block: 1rem;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
}
.is-style-circle > *,
.is-style-circle-red > *,
.is-style-circle-blue > * {
	@apply aspect-square;
	font-size: 1.125rem;
	font-weight: 700;
  line-height: 1.375;
	text-align: center;
	color: rgb(255 255 255 / 0.8);
	width: 128px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
}
.is-style-circle a,
.is-style-circle-red a,
.is-style-circle-blue a {
	color: rgb(255 255 255 / 0.8);
}
.is-style-circle a:hover,
.is-style-circle-red a:hover,
.is-style-circle-blue a:hover {
	color: rgb(255 255 255 / 1);
}

.is-style-circle li {
	background-color: theme(colors.neutral.600);
}
.is-style-circle h5 {
	color: theme(colors.neutral.600);
}
.is-style-circle-red li {
	background-color: theme(colors.brand-red);
}
.is-style-circle-red h5 {
	color: theme(colors.brand-red);
}
.is-style-circle-blue li {
	background-color: theme(colors.brand-blue);
}
.is-style-circle-blue h5 {
	color: theme(colors.brand-blue);
}

/* Split Ball Lists */
.split-circle,
.is-style-split-circle,
.is-style-split-circle-red,
.is-style-split-circle-blue {
	margin-block: 1rem;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
}
.split-circle > *,
.is-style-split-circle > *,
.is-style-split-circle-red > *,
.is-style-split-circle-blue > * {
	@apply aspect-square;
	font-weight: 700;
	font-size: 1.25rem/* 20px */;
	line-height: 1.375;
	text-align: center;
	color: theme(colors.neutral.200);
	display: flex;
	width: 200px;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
}
.split-circle a,
.is-style-split-circle a,
.is-style-split-circle-red a,
.is-style-split-circle-blue a {
	color: theme(colors.neutral.200);
	text-decoration-line: underline;
	text-decoration-color: rgb(245 245 245 / 0.6);
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
}
.split-circle a:hover,
.is-style-split-circle a:hover,
.is-style-split-circle-red a:hover,
.is-style-split-circle-blue a:hover {
	color: white;
	text-decoration-color: white;
	text-decoration-style: solid;
}
.is-style-split-circle > li {
	background: var(--wp--preset--gradient--gray-split) !important;
}
.is-style-split-circle-red > li {
	background: var(--wp--preset--gradient--red-split) !important;
}
.is-style-split-circle-blue > li {
	background: var(--wp--preset--gradient--blue-split) !important;
}

.is-style-boxed {
	margin-inline: -0.5rem;
	list-style-type: none;
	padding-left: 0px !important;
}
.is-style-boxed > li {
	margin-block: 0 !important;
	border-radius: 0.5rem;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(23 23 23 / 0.1);
	padding: 1rem;
	font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
}
.is-style-boxed li > strong {
	margin-bottom: 1rem;
}


@media screen and (min-width: 768px) {
	.is-style-circle,
	.is-style-circle-red,
	.is-style-circle-blue {
		gap: 2rem;
	}
	.is-style-boxed {
		margin-bottom: 1rem;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 1rem;
	}
}
@media screen and (min-width: 1024px) {
	.is-style-list-columns-2 {
		columns: 2;
		column-gap: 2rem;
	}
	.is-style-circle,
	.is-style-circle-red,
	.is-style-circle-blue {
		margin-block: 2rem;
		gap: 3.5rem;
	}
	.split-circle,
	.is-style-split-circle,
	.is-style-split-circle-red,
	.is-style-split-circle-blue {
		margin-block: 2rem;
		gap: 1rem;
	}
	.is-style-boxed {
		margin-bottom: 2rem;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 2rem;
	}
	.is-style-boxed > li {
		padding: 2rem;
	}
}
