/* Lists */

ol.is-style-default {
	list-style: decimal;
	/* list-style-position: inside; */
}
ul.is-style-default {
	list-style: disc;
	/* list-style-position: inside; */
}

.list-square {
	list-style-type: square;
}

.list-checked li::before {
	content: "\f058";
}

.is-style-list-none,
.prose .is-style-list-none {
	@apply list-none pl-0;

	li {
		@apply pl-0;
	}
}

.is-style-list-square,
.prose .is-style-list-square {
	@apply list-square;
}

/* inspiration: https://codepen.io/joshwcomeau/pen/VwxwYbG */
[class*="is-style-list-divide-"],
.prose [class*="is-style-list-divide-"] {
	@apply list-none p-0;

	li {
		@apply p-2;

		&:not(:last-of-type) {
			@apply border-b-4 border-dotted;
		}
	}
}

.is-style-list-divide-light li:not(:last-of-type) {
	@apply border-neutral-400;
}
.is-style-list-divide-gray li:not(:last-of-type) {
	@apply border-brand-gray;
}
.is-style-list-divide-red li:not(:last-of-type) {
	@apply border-brand-red-pale;
}
.is-style-list-divide-blue li:not(:last-of-type) {
	@apply border-brand-blue;
}

.is-style-list-checked {
	@apply list-none;
}
.is-style-list-checked li {
	list-style-type: none !important;
	padding-left: 10px;
	position: relative;
}
.is-style-list-checked li::before {
	/* background-color: currentColor; */
	/* background-size: cover; */
	content: "";
	display: inline-block;
	height: 20px;
	left: -20px;
}

.is-style-circle,
.is-style-circle-red,
.is-style-circle-blue {
	@apply my-4 flex w-full flex-wrap justify-center gap-2 md:gap-8 lg:my-8 lg:gap-14;
}
.is-style-circle > *,
.is-style-circle-red > *,
.is-style-circle-blue > * {
	@apply flex aspect-square w-[128px] items-center justify-center rounded-full text-center font-body text-lg font-bold leading-snug text-white/80;
}
.is-style-circle a,
.is-style-circle-red a,
.is-style-circle-blue a {
	@apply text-white/80 hover:text-white;
}

.is-style-circle li {
	@apply bg-neutral-600;
}
.is-style-circle h5 {
	@apply text-neutral-600;
}
.is-style-circle-red li {
	@apply bg-brand-red;
}
.is-style-circle-red h5 {
	@apply text-brand-red;
}
.is-style-circle-blue li {
	@apply bg-brand-blue;
}
.is-style-circle-blue h5 {
	@apply text-brand-blue;
}
/* Split Ball Lists
*/
.split-circle,
.is-style-split-circle,
.is-style-split-circle-red,
.is-style-split-circle-blue {
	@apply my-4 flex w-full flex-wrap justify-center gap-2 lg:my-8 lg:gap-4;
}
.split-circle > *,
.is-style-split-circle > *,
.is-style-split-circle-red > *,
.is-style-split-circle-blue > * {
	@apply flex aspect-square w-[200px] items-center justify-center rounded-full text-center font-body text-xl font-bold leading-snug text-neutral-200;
}
.split-circle a,
.is-style-split-circle a,
.is-style-split-circle-red a,
.is-style-split-circle-blue a {
	@apply text-neutral-200 underline decoration-neutral-100/60 decoration-dotted decoration-1 hover:text-white hover:decoration-white hover:decoration-solid;
}
.is-style-split-circle > li {
	background: var(--wp--preset--gradient--gray-split) !important;
}
.is-style-split-circle-red > li {
	background: var(--wp--preset--gradient--red-split) !important;
}
.is-style-split-circle-blue > li {
	background: var(--wp--preset--gradient--blue-split) !important;
}


.is-style-boxed {
	@apply md:grid md:grid-cols-2 md:gap-4 md:mb-4 lg:grid-cols-3 lg:gap-8 lg:mb-8 -mx-2 list-none !pl-0;
}
.is-style-boxed > li {
	@apply text-base border rounded-lg border-solid border-neutral-900/10 p-4 !my-0 lg:p-8;
}
.is-style-boxed li > strong {
	@apply mb-4;
}

/* Timeline pattern */
.list-timeline {
	@apply ml-4 list-none border-l-2;
}
.list-timeline-brand-red {
	@apply border-brand-red;
	.fa-stack {
		@apply text-brand-red;
	}
}
.list-timeline-brand-blue {
	@apply border-brand-blue;
	.fa-stack {
		@apply text-brand-blue;
	}
}
.list-timeline-brand-gray {
	@apply border-brand-gray;
	.fa-stack {
		@apply text-brand-gray;
	}
}
.list-timeline-node {
	margin-left: -1.25em;
}
