/* Paragraphs / Notes */
p[class*="is-style-note-"] {
	width: 100%;
	border-radius: 0.5rem;
	border-width: 1px;
	border-style: solid;
	padding-block: --spacing(4);
	padding-inline: --spacing(5);
	line-height: 1.375;
	border-color: var(--_border);
	background-color: var(--_bg);
	color: var(--_text);

	@media (width >= 768px) {
		max-width: 36rem;
	}

	@media (width >= 1024px) {
		max-width: 42rem;
	}

	@media (width >= 1280px) {
		max-width: 56rem;
	}

}

.is-style-note-info {
	--_border: light-dark(var(--color-cyan-100), var(--color-cyan-900));
	--_bg: light-dark(var(--color-cyan-50), var(--color-cyan-950));
	--_text: light-dark(var(--color-cyan-900), var(--color-cyan-100));
}

.is-style-note-success {
	--_border: light-dark(var(--color-emerald-100), var(--color-emerald-900));
	--_bg: light-dark(var(--color-emerald-50), var(--color-emerald-950));
	--_text: light-dark(var(--color-emerald-900), var(--color-emerald-100));
}

.is-style-note-warning {
	--_border: light-dark(var(--color-amber-100), var(--color-amber-900));
	--_bg: light-dark(var(--color-amber-50), var(--color-amber-950));
	--_text: light-dark(var(--color-amber-900), var(--color-amber-100));
}

.is-style-note-error {
	--_border: light-dark(var(--color-red-100), var(--color-red-900));
	--_bg: light-dark(var(--color-red-50), var(--color-red-950));
	--_text: light-dark(var(--color-red-900), var(--color-red-100));
}
