/*   P A G E   H E R O   */
.page-hero-overlay {
	background-color: hsl(0 0% 16% / 0.75);
	background-image: none;
}

@media (min-width: 1024px) {
	.page-hero-overlay {
		background-color: unset;
		/* background-image: linear-gradient(to right, rgb(255 255 255 / 0.95) 0%, rgb(255 255 255 / 0.8) 40%, rgb(255 255 255 / 0.2) 60%, rgb(255 255 255 / 0) 100%); */
		background-image: linear-gradient(to right, hsl(0 0% 16% / 0.98) 0%, hsl(0 0% 16% / 0.85) 45%, hsl(0 0% 16% / 0.6) 65%, hsl(0 0% 16% / 0.2) 85%, hsl(0 0% 16% / 0) 100% );
	}
}
