/* Pagination */
ul.page-numbers {
	max-width: 60rem;
	font-family: theme(fontFamily.head);
	color: theme(colors.orient.900);
	margin-inline: auto;
	margin-block: 1rem;
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

}
a.page-numbers {
	color: theme(colors.orient.900);
}
a.page-numbers:hover {
	color: theme(colors.brand-blue-dark);
}
span.current {
	opacity: 0.5;
}

@media screen and (min-width: 768px) {
	ul.page-numbers {
		margin-block: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	ul.page-numbers {
		margin-block: 4rem;
	}
}
