/* Separators */
[class*="is-style-sep-"] {
	margin-block: 1rem;
	height: 3px;
	width: 100%;
	border-width: 0;
	background-image: linear-gradient(
		to bottom,
		var(--_start) 33%,
		transparent 33%,
		transparent 66%,
		var(--_end) 66%,
		var(--_end) 100%
	);
}
@media screen and (min-width: 768px) {
	[class*="is-style-sep-"] {
		margin-block: 1.5rem;
	}
}
@media screen and (min-width: 1024px) {
	[class*="is-style-sep-"] {
		margin-block: 2rem;
	}
}


.is-style-sep-blue {
	--_start: var(--color-orient-800);
	--_end: var(--color-orient-400);
}
.is-style-sep-red {
	--_start: var(--color-mahogany-700);
	--_end: var(--color-mahogany-300);
}
.is-style-sep-gray {
	--_start: var(--color-neutral-800);
	--_end: var(--color-neutral-500);
}


/* Spacers */
.wp-block-spacer {
	margin-block: 0;
}
.wp-block-spacer.is-style-xs {
	height: clamp(8px, 2vw, 24px) !important;
}
.wp-block-spacer.is-style-sm {
	height: clamp(12px, 3vw, 36px) !important;
}
.wp-block-spacer.is-style-md {
	height: clamp(24px, 5vw, 48px) !important;
}
.wp-block-spacer.is-style-lg {
	height: clamp(36px, 8vw, 72px) !important;
}
.wp-block-spacer.is-style-xl {
	height: clamp(48px, 9vw, 96px) !important;
}
