.social-links a {
	background-color: var(--color-orient-800);
	color: inherit;
}
.social-links a:hover {
	background-color: transparent;
	color: var(--color-orient-800);
}

.footer-social .social-links a {
	background-color: var(--color-neutral-700);
	color: var(--color-neutral-300);
}
.footer-social .social-links a:hover {
	background-color: transparent;
	color: var(--color-orient-400);
}
.on-darkbg .social-links a {
	background-color: transparent;
	color: var(--color-neutral-300);
}
.on-darkbg .social-links a:hover {
	color: var(--color-orient-400);
	background-color: var(--color-neutral-700);
}
