.prose table th {
	--tw-border-opacity: 1;
	border-bottom-width: 2px;
  border-color: rgb(212 212 212 / var(--tw-border-opacity));
	border-style: solid;
}
.prose table td {
	--tw-border-opacity: 1;
  border-bottom-width: 1px;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
	border-style: solid;
	border-top-width: 1px;
}
.prose table:has(> colgroup) {
	table-layout: fixed;
}
.table-oldtab {
  font-variant-numeric: oldstyle-nums tabular-nums;
}
.num {
	text-align: right;
	font-variant-numeric: tabular-nums;
}
