:root :where(.img-grid) {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); */
	gap: 2rem;
	justify-items: safe center;
	align-items: center;
	place-content: center;
}

:root :where(.ll-color-chips) {
	@apply flex flex-col flex-wrap gap-1 my-2 place-content-center  md:place-content-start md:flex-row lg:my-4;
}

:root :where(.img-grid.is-layout-flow) > *,
:root :where(.ll-color-chips.is-layout-flow) > * {
	margin-block-start: unset;
}




/* :root :where(.img-grid) figure {
	transition: opacity .3s ease;
	transition-delay: calc((sibling-index() - 1) * 100ms);

	@starting-style {
		opacity: 0;
	}
} */




/* @media (width > 48rem) {
	:root :where(.img-grid) {
		--_min-col-size: 12rem;
		grid-template-columns: repeat(auto-fit, minmax(min(var(--_min-col-size), 100%), 1fr));
	}
} */

@media (width >= 48rem) {
	:root :where(.img-grid:has(> :nth-child(2))) {
		grid-template-columns: repeat(2, auto);
		place-content: start;
	}

	@container content-area (width < 62rem) {
		/* :root :where(.img-grid) {
			gap: 4rem;
		} */
		/* at least 3 items */
		:root :where(.img-grid:has(> :nth-child(3))) {
			place-content: space-around;
		}
		/* at most 3 items */
		:root :where(.img-grid:has(> :last-child:nth-child(-n + 3))) {
			grid-template-columns: repeat(3, auto);
		}
		/* at least 5 items */
		:root :where(.img-grid:has(> :nth-child(5))) {
			grid-template-columns: repeat(3, auto);
		}
		/* exactly 4 or 8 items */
		:root :where(.img-grid:has(> :last-child:nth-child(4))),
		:root :where(.img-grid:has(> :last-child:nth-child(8))) {
			grid-template-columns: repeat(4, auto);
		}
		/* exactly 9 items */
		:root :where(.img-grid:has(> :last-child:nth-child(9))) {
			grid-template-columns: repeat(3, auto);
		}
	}

	@container content-area (width > 62rem) {
		:root :where(.img-grid:has(> :nth-child(2))) {
			grid-auto-flow: column;
			grid-auto-columns: auto;
			place-content: start;
		}
	}
}
