/* Quotes */
.wp-block-quote p {
	margin-block: --spacing(8);
	font-size: --spacing(10);
  line-height: --spacing(14);

	@media (width >= 1024px) {
		font-size: --spacing(12);
    line-height: --spacing(16);
	}
}
.wp-block-quote cite {
	font-family: var(--font-head);
	font-size: --spacing(8);
  line-height: --spacing(12);
	font-style: normal;

	@media (width >= 1024px) {
		font-size: --spacing(9);
    line-height: --spacing(14);
	}
}
.wp-block-quote cite::before {
  content: '—';
}

.wp-block-quote.is-style-default {
	color: light-dark(var(--color-orient-950), var(--color-orient-400));
	border-color: var(--color-orient-800);
	position: relative;
	border-radius: --spacing(4);
	border-top-width: 4px;
	border-right-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 0px;
	padding: --spacing(8);

	@media (width >= 1024px) {
		padding-inline: --spacing(16);
	}
}
