/* DEV */

:not(img).todo {
	--tw-text-opacity: 1;
  color: rgb(236 72 153 / var(--tw-text-opacity));
	font-style: italic;
}
img.todo {
	--tw-bg-opacity: 1;
  background-color: rgb(236 72 153 / var(--tw-bg-opacity));
}
div.todo {
	background-color: rgb(236 72 153 / 0.2);
}
