/* DEV */

:not(img).todo {
	font-style: italic;
	color: var(--color-pink-500);
}
img.todo {
	background-color: var(--color-pink-500);
}
div.todo {
	background-color: var(--color-pink-100);
}



.llcolorchip.is-style-default {
	border-color: var(--color-neutral-100);
}
.llcolorchip.is-style-brand {
	border-color: var(--color-gold-500);
}
