/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
:root {
	--nav-height: 124px;
	overscroll-behavior-x: contain;
}

html {
	--_scroll-padding: 52px;
	scroll-padding-top: var(--_scroll-padding);
	scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
	html {
		--_scroll-padding: 76px;
	}
}
@media screen and (min-width: 1024px) {
	html {
		--_scroll-padding: 100px;
	}
}


body {
	--tw-text-opacity: 1;
	font-family: Work Sans, sans-serif;
  color: rgb(38 38 38 / var(--tw-text-opacity));

}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(212 212 212 / var(--tw-text-opacity));
  }
}
@media print {
  body {
    background-color: transparent;
    color: rgb(23 23 23 / var(--tw-text-opacity));
  }
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--wp--preset--font-family--serenity);
	font-weight: 300;
}

@supports (text-wrap: balance) {
	h1,
	h2,
	h3,
	h4,
	h5 {
		text-wrap: balance;
	}
}

h1 {
	font-size: 3rem;
	line-height: 1;
}
h2 {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
h3 {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
h4 {
	font-size: 1.5rem;
	line-height: 2rem;
}
h5 {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

h6 {
	font-family: var(--wp--preset--font-family--work-sans);
	font-size: 1.125rem;
	line-height: 1.75rem;
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

a:not([class]) {
	color: currentColor;
}
:focus {
	outline: 2px dashed;
	/* outline-offset: 0.25rem; */
}
/* main:focus {
	outline: none;
} */
[href]:hover {
	text-decoration: none;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	margin-top: 0.5rem;
	font-weight: 700;
}

dd {
	border-bottom-width: 1px;
	border-color: rgb(245 245 245 / 1);
	display: list-item;
	list-style-type: square;
	margin-left: 2rem;
	padding-bottom: 0.5rem;
}

dd::marker {
	color: var(--wp--preset--color--brand-red-pale);
}

table caption {
	caption-side: bottom;
}

/* Custom Animations */


/* @keyframes sway {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.animate-sway {
	animation: sway 21s ease infinite;
} */


