/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
:root {
	--nav-height: 124px;
	overscroll-behavior-x: contain;
}

html {
	--_scroll-padding: 52px;
	scroll-padding-top: var(--_scroll-padding);
	scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
	html {
		--_scroll-padding: 76px;
	}
}
@media screen and (min-width: 1024px) {
	html {
		--_scroll-padding: 100px;
	}
}


body {
	--tw-text-opacity: 1;
	/* font-family: Work Sans, sans-serif; */
	font-family: theme(fontFamily.sans);
  color: rgb(38 38 38 / var(--tw-text-opacity));

}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(212 212 212 / var(--tw-text-opacity));
  }
}
@media print {
  body {
    background-color: transparent;
    color: rgb(23 23 23 / var(--tw-text-opacity));
  }

	.iub__us-widget {
		display: none;
	}
}


.entry-content > * + * {
	margin-block-start: var(--wp--preset--spacing--50);
}

.prose {
	text-wrap: pretty;
	font-variant-numeric: proportional-nums;
	line-height: 1.7;

	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 4;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-lines: 2;

	hyphens: auto;
	hyphenate-limit-chars: 7 4 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-zone: 8%;
	hyphenate-limit-last: always;
}

.prose pre, .prose code, .prose var, .prose samp, .prose kbd,
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
	-webkit-hyphens: manual;
	hyphens: manual;
}


.dlig { font-variant-ligatures: discretionary-ligatures; }
.hlig { font-variant-ligatures: historical-ligatures; }
.dlig.hlig { font-variant-ligatures: discretionary-ligatures historical-ligatures; } /* Apply both historic and discretionary */

.pnum { font-variant-numeric: proportional-nums; }
.tnum { font-variant-numeric: tabular-nums;    }
.lnum { font-variant-numeric: lining-nums; }
.onum { font-variant-numeric: oldstyle-nums; }
.zero { font-variant-numeric: slashed-zero;    }
.pnum.zero { font-variant-numeric: proportional-nums slashed-zero; } /* Apply slashed zeroes to proportional numerals */
.tnum.zero { font-variant-numeric: tabular-nums slashed-zero; }
.lnum.zero { font-variant-numeric: lining-nums slashed-zero; }
.onum.zero { font-variant-numeric: oldstyle-nums slashed-zero; }
.tnum.lnum.zero { font-variant-numeric: tabular-nums lining-nums slashed-zero; }
.frac { font-variant-numeric: diagonal-fractions; }
.afrc { font-variant-numeric: stacked-fractions; }
.ordn { font-variant-numeric: ordinal; }

.smcp { font-variant-caps: small-caps; }
.c2sc { font-variant-caps: unicase; }
.hist { font-variant-alternates: historical-forms; }


strong, b, th {
	font-weight: 600;
}



h1,
h2,
h3,
h4,
h5 {
	font-family: var(--wp--preset--font-family--serenity);
	font-weight: 300;
	line-height: 1.1;
	font-variant-numeric: lining-nums;
}

@supports (text-wrap: balance) {
	h1,
	h2,
	h3,
	h4,
	h5 {
		text-wrap: balance;
	}
}

h1 {
	font-size: 3rem;
	/* line-height: 1; */
}
h2 {
	font-size: 2.25rem;
	/* line-height: 2.5rem; */
}
h3 {
	font-size: 1.875rem;
	/* line-height: 2.25rem; */
}
h4 {
	font-size: 1.5rem;
	/* line-height: 2rem; */
}
h5 {
	font-size: 1.25rem;
	/* line-height: 1.75rem; */
}

h6 {
	font-family: var(--wp--preset--font-family--work-sans);
	font-size: 1.125rem;
	line-height: 1.75rem;
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

td, math, time[datetime*=":"] {
	font-variant-numeric: tabular-nums lining-nums slashed-zero;
}


a:not([class]) {
	color: currentColor;
}
:focus {
	outline: 2px dashed;
	/* outline-offset: 0.25rem; */
}
/* main:focus {
	outline: none;
} */
[href]:hover {
	text-decoration: none;
}
.prose :where(a):not(:where([class~=wp-block-button__link],[class~=not-prose],[class~=not-prose] *)) {
	text-decoration: none;
	border-bottom: 2px solid theme(colors.neutral.400);
}
.prose :where([href]):not(:where([class~=wp-block-button__link],[class~=not-prose],[class~=not-prose] *)):hover {
	border-bottom: 2px solid theme(colors.orient.600);
}


@supports ( font-variant-position: sub ) {
	sub, .sub {
			vertical-align: baseline;
			font-size: 100%;
			line-height: inherit;
			font-variant-position: sub;
	}
}

@supports ( font-variant-position: super ) {
	sup, .sup {
			vertical-align: baseline;
			font-size: 100%;
			line-height: inherit;
			font-variant-position: super;
	}
}

:lang(en) > * { quotes: '“' '”' '‘' '’' ; } /* “Generic English ‘style’” */
.prose :where(.wp-block-quote, blockquote) {
	border-color: transparent;
}
q::before,
blockquote p::before { content: open-quote }
q::after,
blockquote p::after { content: close-quote }
q p,
blockquote p {
	font-family: theme(fontFamily.serif);
	font-style: italic;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	margin-top: 0.5rem;
	font-weight: 700;
}

dd {
	border-bottom-width: 1px;
	border-color: rgb(245 245 245 / 1);
	display: list-item;
	list-style-type: square;
	margin-left: 2rem;
	padding-bottom: 0.5rem;
}

dd::marker {
	color: var(--wp--preset--color--brand-red-pale);
}


/* Custom Animations */


/* @keyframes sway {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.animate-sway {
	animation: sway 21s ease infinite;
} */


