/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

/* via: https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */
div:not(.block-editor-block-list__layout) .full-bleed {
	width: 100vw;
	max-width: unset;
	margin-left: 50%;
	transform: translateX(-50%);
}
div:not(.block-editor-block-list__layout) .full-bleed > div {
	@apply container;
}


.block-editor-block-list__layout .full-bleed {
	width: 100%;
	margin-left: 0;
	transform: none;
}

@media screen {
	.ll-equal-vert-padding {
		--_padding: 3rem;
		padding-block: var(--_padding);
	}

	.ll-equal-vert-spacing {
		--_spacing: 2rem;
		margin-block: var(--_spacing);
	}
}

@media screen and (min-width: 768px) {
	.ll-equal-vert-spacing {
		--_spacing: 3rem;
	}
}
@media screen and (min-width: 1024px) {
	.ll-equal-vert-spacing {
		--_spacing: 4rem;
	}
	.ll-equal-vert-padding {
		--_padding: 4rem;
	}
}

.bg-gradient-70 {
	background-image: linear-gradient(70deg, var(--tw-gradient-stops));
}

.icon {
	height: 1em;
	width: 1em;
}

.papercorners-4 {
	border-radius: 4px 0 4px;
}
.papercorners-6 {
	border-radius: 6px 0 6px;
}
.papercorners-8 {
	border-radius: 8px 0 8px;
}
.papercorners-12 {
	border-radius: 12px 0 12px;
}
.papercorners-16 {
	border-radius: 16px 0 16px;
}
.papercorners-24 {
	border-radius: 24px 0 24px;
}
.papercorners-36 {
	border-radius: 36px 0 36px;
}
.papercorners-48 {
	border-radius: 48px 0 48px;
}
.papercorners-60 {
	border-radius: 60px 0 60px;
}
.papercorners-72 {
	border-radius: 72px 0 72px;
}
.papercorners-84 {
	border-radius: 84px 0 84px;
}
.papercorners-144 {
	border-radius: 144px 0 144px;
}

.inline-comma-sep {
	span:not(:last-of-type)::after {
		content: ", ";
	}
}
.inline-pipe-sep {
	span:not(:last-of-type)::after {
		content: " | ";
	}
}

.context-alert {
	animation: bounce 1s infinite;
	background-color: rgb(254 249 195 / 1);
	color: rgb(38 38 38 / 1);
	font-weight: 700;
	inset: auto 0 calc(100% + 0.5em) 0;
	padding: 0.25rem;
	position: absolute;
	text-align: center;
	transition-duration: 200ms;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.context-alert[data-state="empty"] {
	opacity: 0;
	transform: translateY(0.25em);
	transition-property: none;
}
