.visualization {
	--_color-legal: var(--color-emerald-300);
	--_color-legalmed: var(--color-sky-300);
	--_color-illegal: var(--color-red-300);
	--_color-accent: var(--color-orient-700);
	--_rad: calc(infinity * 1px);

	border-width: 1px;
	border-style: solid;
	border-color: var(--_color-accent);
}

.visualization svg.map {
	.state {
		fill: light-dark(var(--color-neutral-300), var(--color-neutral-700));
		/* default color for all states not specified below */
	}
	.borders {
		stroke: light-dark(var(--color-neutral-200), var(--color-neutral-800));
		stroke-width: 1;
		/* color and width of borders between states */
	}
	.dccircle {
		display: yes;
		/* set display to yes to show the circle for the District of Columbia, or none to hide it */
	}
	.separator1 {
		stroke: light-dark(var(--color-neutral-200), var(--color-neutral-700));
		stroke-width: 2;
		/* color and width of lines around Alaska and Hawaii */
	}
}


#map-cannabis-form:has(#legal:checked) + svg.map .rec-med,
#map-cannabis-form:has(#legal:checked) + svg.map .state.rec-med,
#map-cannabis-form:has(#all:checked) + svg.map .rec-med,
#map-cannabis-form:has(#all:checked) + svg.map .state.rec-med {
	/* fill: url('#emerald-diagonal-up'); */
	fill: var(--_color-legal);
	opacity: 0.9;
	transition: fill var(--map-transition);

	&:hover {
		opacity: 1;
	}
}
#map-cannabis-form:has(#all:checked) + svg.map .legalmed,
#map-cannabis-form:has(#legalmed:checked) + svg.map .legalmed {
	/* fill: url('#sky-crosses'); */
	fill: var(--_color-legalmed);
	opacity: 0.9;
	transition: fill var(--map-transition);

	&:hover {
		opacity: 1;
	}
}
#map-cannabis-form:has(#all:checked) + svg.map .illegal,
#map-cannabis-form:has(#illegal:checked) + svg.map .illegal {
	/* fill: url('#red-diagonal-down'); */
	fill: var(--_color-illegal);
	opacity: 0.9;
	transition: fill var(--map-transition);

	&:hover {
		opacity: 1;
	}
}


@container content-area (width >= 32rem) {
	.visualization-group-radio > .input-group {
		/* margin-block: --spacing(1); */

		input {
			display: none;
		}
	}
}
