/* Custom LL Image with Text styles */
.wp-block-loadlifter-image-with-text {
	--_llmtmediawidth: 38cqi;
	display: grid;
	grid-template-rows: auto auto;
	gap: 0;
}
.wp-block-loadlifter-image-with-text:has(+ .wp-block-loadlifter-image-with-text) {
	margin-block-end: calc(var(--spacing) * 8);
}

.wp-block-loadlifter-image-with-text.has-background {
	border-radius: calc(var(--spacing) * 2);
}


.wp-block-loadlifter-image-with-text .item-img {
	grid-row: 1 / 2;

	> div {
		width: 100%;
		height: 100%;
		min-height: 180px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: calc(var(--spacing) * 2) calc(var(--spacing) * 2) 0 0;
		/* filter: grayscale(80%) contrast(1); */
		/* mix-blend-mode: multiply; */
		position: relative;

		&::after,
		&::before {
			content: '';
			display: block;
			border-radius: calc(var(--spacing) * 2) calc(var(--spacing) * 2) 0 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
		}
		&::after {
			background-color: var(--color-orient-200);
			mix-blend-mode: darken;
		}
		&::before {
			background-color: var(--color-orient-900);
			mix-blend-mode: lighten;
		}
	}
}
.wp-block-loadlifter-image-with-text .acf-innerblocks-container {
	padding-inline: calc(var(--spacing) * 4);
	padding-block: calc(var(--spacing) * 6);
	grid-row: 2 / -1;

	h3 {
		margin-block-end: calc(var(--spacing) * 2);
	}
}

/* Possible WP color palette overrides for media text block */
.wp-block-loadlifter-image-with-text.has-brand-gray-faint-background-color .wp-block-group,
.wp-block-loadlifter-image-with-text.has-brand-gray-pale-background-color .wp-block-group,
.wp-block-loadlifter-image-with-text.has-brand-blue-faint-background-color .wp-block-group,
.wp-block-loadlifter-image-with-text.has-brand-blue-pale-background-color .wp-block-group {
	color: inherit;
}
.wp-block-loadlifter-image-with-text.has-brand-gray-background-color .wp-block-group,
.wp-block-loadlifter-image-with-text.has-brand-gray-dark-background-color .wp-block-group,
.wp-block-loadlifter-image-with-text.has-brand-blue-background-color .wp-block-group,
.wp-block-loadlifter-image-with-text.has-brand-blue-dark-background-color .wp-block-group {
	color: white;
}



@container content-area (width >= 32rem) {
	/* 512px */
	.wp-block-loadlifter-image-with-text {
		grid-template-columns: var(--_llmtmediawidth, 1fr) auto;
		grid-template-rows: auto;
		gap: 0;
	}
	.wp-block-loadlifter-image-with-text.has-background {
		border-radius: calc(var(--spacing) * 4);
	}
	.wp-block-loadlifter-image-with-text .acf-innerblocks-container {
		grid-column: 2 / -1;
		grid-row: 1 / -1;
		/* border-radius: 0 calc(var(--spacing) * 4) calc(var(--spacing) * 4) 0; */
		place-content: center;
	}
	.wp-block-loadlifter-image-with-text .item-img {
		grid-column: 1 / 2;
		grid-row: 1 / -1;

		> div {
			border-radius: calc(var(--spacing) * 4) 0 0 calc(var(--spacing) * 4);
		}
		> div::before,
		> div::after {
			border-radius: calc(var(--spacing) * 4) 0 0 calc(var(--spacing) * 4);
		}
	}

	.wp-block-loadlifter-image-with-text:nth-child(even) {
		grid-template-columns: auto var(--_llmtmediawidth, 1fr);
	}
	.wp-block-loadlifter-image-with-text:nth-child(even) .acf-innerblocks-container {
		grid-column: 1 / 2;
		/* border-radius: calc(var(--spacing) * 4) 0 0 calc(var(--spacing) * 4); */
	}
	.wp-block-loadlifter-image-with-text:nth-child(even) .item-img {
		grid-column: 2 / -1;

		> div {
			border-radius: 0 calc(var(--spacing) * 4) calc(var(--spacing) * 4) 0;
		}
		> div::before,
		> div::after {
			border-radius: 0 calc(var(--spacing) * 4) calc(var(--spacing) * 4) 0;
		}
	}
}


@container content-area (width >= 56rem) {
	/* 896px */
	.wp-block-loadlifter-image-with-text {
		--_llmtmediawidth: 33cqi;
	}
	.wp-block-loadlifter-image-with-text .acf-innerblocks-container {
		padding: calc(var(--spacing) * 8);
	}

	.wp-block-loadlifter-image-with-text:has(+ .wp-block-loadlifter-image-with-text) {
		margin-block-end: calc(var(--spacing) * 12);
	}
}
